<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div id="home">
        <nav>
            <a href="#">skill</a>
            <a href="#">company</a>
            <a href="#">Recommendation</a>
            <a href="#">internship</a>
            <a href="#">setting</a>
        </nav>
        
        <a href="/logout"> logout</a>

    </div>
    <h1>Welcome to the Home page</h1>

</body>

</html>