<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/lucide@latest/dist/umd/lucide.css">

    <link rel="stylesheet" href="../static/css/index.css">
</head>


<body>
    <nav class="navbar">
        <div class="nav-container">

            <div class="logo">
                <div class="logo-circle">
                    <i data-lucide="target"></i>
                </div>
                <span class="logo-text">CareerPath</span>
            </div>

            <div class="nav-actions">
                <a href="/register" class="login">For User</a>
                <a href="/company" class="signup">For Companies</a>
            </div>

        </div>
    </nav>


    <header>
        <h1 class="hero-title">
            Discover Your <br>
            <span>Perfect Career Path</span>
        </h1>

        <p class="hero-description">
            Smart career recommendations powered by machine learning and AI. Get
            personalized insights, skill gap analysis, and learning paths tailored
            just for you.
        </p>

        <div class="buttons">
            <a href="/register" class="btn-primary">
                Get Started
                <svg class="arrow" viewBox="0 0 24 24">
                    <path d="M5 12h14M13 5l7 7-7 7" stroke="white" stroke-width="3" fill="none" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </a>

            <a href="/register " class="btn-secondary">
                Sign Up
            </a>
        </div>
    </header>

    <section class="image-section">
        <div class="image-container">
            <div class="team-wrapper">
                <img src="../static/images/team.jpg" class="team-image">
            </div>
            <div class="work-wrapper">
                <img src="../static/images/work.jpeg" class="work-image">
            </div>
        </div>
    </section>


    <section class="features">

        <div class="container">

            <div class="features-header">
                <h2>Everything You Need to Succeed</h2>
                <p>Comprehensive career tools powered by cutting-edge technology</p>
            </div>

            <div class="cards">

                <!-- Card 1 -->
                <div class="feature-card" id="Box-1">
                    <div class="icon-box green">
                        <i data-lucide="brain"></i>
                    </div>
                    <h3>AI Recommendations</h3>
                    <p>
                        Get personalized career suggestions based on your unique
                        skills and interests.
                    </p>
                </div>

                <!-- Card 2 -->
                <div class="feature-card" id="Box-2">
                    <div class="icon-box orange">
                        <i data-lucide="target"></i>
                    </div>

                    <h3>Skill Gap Analysis</h3>
                    <p>
                        Identify what skills you need to develop for your dream career.
                    </p>
                </div>

                <!-- Card 3 -->
                <div class="feature-card" id="Box-3">
                    <div class="icon-box green">
                        <i data-lucide="map"></i>
                    </div>

                    <h3>Learning Paths</h3>
                    <p>
                        Get step-by-step carrer roadmaps tailored to your current skill and target role.
                    </p>
                </div>

                <!-- Card 4 -->
                <div class="feature-card" id="Box4">
                    <div class="icon-box orange">
                        <i data-lucide="trending-up"></i>
                    </div>

                    <h3>Market Insights</h3>
                    <p>
                        Stay updated with trending careers and in-demand skills.
                    </p>
                </div>

                <!-- Card 5 -->
                <div class="feature-card" id="Box-5">
                    <div class="icon-box orange">
                        <i data-lucide="Graduation-cap"></i>
                    </div>
                    <h3>Skill Assessments</h3>
                    <p>
                        Take quizzes to evaluate your knowledge and discover new carrer opportunities.
                    </p>
                </div>


                <!-- Card 6 -->
                <div class="feature-card" id="Box-6">
                    <div class="icon-box green">
                        <i data-lucide="notebook-text"></i>
                    </div>
                    <h3>Internships</h3>
                    <p>
                        Discover internships that match your skills and gain real-world
                        experience to kickstart your career.
                    </p>
                </div>


                <!-- Card 7 -->
                <div class="feature-card" id="Box-7">
                    <div class="icon-box orange">
                        <i data-lucide="bar-chart"></i>
                    </div>
                    <h3>Performance Tracking</h3>
                    <p>
                        Monitor your progress and track improvements in your skillset.
                    </p>
                </div>


                <!-- Card 8 -->
                <div class="feature-card" id="Box-8">
                    <div class="icon-box green">
                        <i data-lucide="users"></i>
                    </div>
                    <h3>Community Support</h3>
                    <p>
                        Connect with mentors and professionals in your chosen field.
                    </p>
                </div>

            </div>

        </div>

    </section>


    <section class="cta">

        <div class="cta-box">
            <h2>Ready to Transform Your Career?</h2>
            <p>
                Join thousands of professionals who found their perfect career path
            </p>
            <a href="/register" class="cta-button">
                Start Your Journey ->
            </a>
        </div>

    </section>


    <!-- footer -->
    <footer>
        <div class="foot-panel1">
            <a href="#">Back to top</a>
        </div>

        <div class="foot-panel2">
            <ul>
                <p>Plateform</p>
                <a href="#">Carrer Recommendation</a>
                <a href="#">Skill Assessment</a>
                <a href="#">Intership Finder</a>
                <a href="#">Industry Insights</a>
            </ul>

            <ul>
                <p>Resources</p>
                <a href="#">Career Guides</a>
                <a href="#">Learning Roadmaps</a>
                <a href="#">Top Skills 2026</a>
                <a href="#">AI Carrer Trends</a>
            </ul>

            <ul>
                <p>Support</p>
                <a href="#">Help Center</a>
                <a href="#">Contact Us</a>
                <a href="#">Feedback</a>
                <a href="#">FAQs</a>
            </ul>
        </div>

        <div class="foot-panel3">
            <div class="logo">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>


        <div class="foot-panel4">
            <div class="pages">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Your Ads Privacy Choices</a>
            </div>
            <div class="copyright">
                © 2023-2026, Abc.com, Inc. or its affiliates<br>
                Made with 💖 by Anuradha
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/lucide@latest"></script>

    <script>
        lucide.createIcons();
    </script>

</body>

</html>